[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "pagekey-semver"
description = "Simple, opinionated semantic versioning package."
version = "0.1.1"
authors = [
    "steve"
]

[tool.poetry.scripts]
pagekey-semver = "pagekey_semver.main:cli_entrypoint"

[tool.poetry.dependencies]
python = ">=3.8"

[tool.poetry.group.dev.dependencies]
pytest = "^8.2.2"
